@use 'variables' as v;
@use 'mixins' as m;

.about__section {
    padding: 128px 0 0 0;

    .about {
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 80px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 32px;
            background: url('../assets/images/desktop_alpha.webp') 100% 100%/contain no-repeat;

            &-title {
                @include m.font(48px, 600, v.$color_white);
            }

            &-desc {
                margin: 16px 0 0 0;
                max-width: 584px;
                @include m.font(16px, 400, v.$color_white);
            }

            @media (max-width: v.$media_xl) {
                height: 296px;
                background: url('../assets/images/desktop_alpha.webp') 100% 100%/496px no-repeat;
                
                &-desc {
                    max-width: 496px;
                }
            }

            @media (max-width: v.$media_lg) {
                height: 240px;
                background: url('../assets/images/desktop_alpha.webp') 100% 100%/400px no-repeat;

                &-title {
                    @include m.font(40px, 600, v.$color_white);
                }

                &-desc {
                    max-width: 400px;
                }
            }

            @media (max-width: v.$media_md) {
                height: 456px;
                background: url('../assets/images/desktop_alpha.webp') 100% 100%/512px no-repeat;

                &-title {
                    @include m.font(32px, 600, v.$color_white);
                }

                &-desc {
                    max-width: 584px;
                }
            }

            @media (max-width: v.$media_sm) {
                height: 384px;
                background: url('../assets/images/desktop_alpha.webp') 140% 100%/352px no-repeat;

                &-desc {
                    max-width: 512px;
                }
            }
        }

        &__touch {
            position: relative;
            width: 100%;
            height: 488px;
            padding: 0 32px;
            @include m.d-flex(end, end, nowrap, column, 0, 16px);

            &::before {
                content: "";
                @include m.position(absolute, -1, -1, top, left, 0, -456px);
                /* position: absolute;
                z-index: -1;
                top: 0;
                left: -456px; */
                width: 100%;
                height: 100%;
                background: url('../assets/images/phone_alpha.webp') 0 0/contain no-repeat;
                rotate: 15deg;
            }

            &-title {
                @include m.font(48px, 600, v.$color_white);
            }

            &-desc {
                max-width: 584px;
                text-align: right;
                @include m.font(16px, 400, v.$color_white);
            }

            @media (max-width:v.$media_xl) {
                @include m.d-flex(center, end, nowrap, column, 0, 16px);

                &::before {
                    @include m.position(absolute, -1, -1, top, left, 0, -320px);
                    rotate: 60deg;
                }
            }

            @media (max-width: v.$media_lg) {
                height: 672px;
                @include m.d-flex(start, end, nowrap, column, 0, 16px);

                &-title {
                    @include m.font(40px, 600, v.$color_white);
                }
            }

            @media (max-width: v.$media_md) {
                height: 560px;

                &::before {
                    @include m.position(absolute, -1, -1, top, left, 0, -224px);
                }

                &-title {
                    @include m.font(32px, 600, v.$color_white);
                }
            }
            @media (max-width: v.$media_sm) {
                height: 376px;
            }
        }

        &__approach {
            width: 100%;
            height: 768px;
            padding: 0 32px;
            background: url('../assets/images/cactus_alpha.webp') 100% 100%/contain no-repeat;

            &-title {
                margin: 192px 0 0 0;
                @include m.font(48px, 600, v.$color_white);
            }

            &-desc {
                margin: 16px 0 0 0;
                max-width: 584px;
                @include m.font(16px, 400, v.$color_white);
            }

            @media (max-width:v.$media_lg) {
                background: url('../assets/images/cactus_alpha.webp') 120% 100%/contain no-repeat;

                &-title {
                    @include m.font(40px, 600, v.$color_white);
                }
            }

            @media (max-width:v.$media_md) {
                height: 544px;
                background: url('../assets/images/cactus_alpha.webp') 100% 100%/320px no-repeat;

                &-title {
                    margin: 0;
                    @include m.font(32px, 600, v.$color_white);
                }
            }
        }
    }
}