@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    width: 100%;
    height: 224px;
    padding: 24px;
    border-radius: 16px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
    @include m.d-flex(start, center, nowrap, column, 0, 16px);

    &__icon {
        width: 24px;
        height: 24px;
        fill: v.$color_black;
    }

    &__title {
        @include m.font(20px, 600, v.$color_black);
    }

    &__desc {
        text-align: center;
        @include m.font(16px, 400, v.$color_black);
    }

    &:hover {
        cursor: pointer;
        background-color: color.adjust(v.$color_white, $alpha: -0.94);

        .info-card__icon {
            fill: v.$color_white;
        }

        .info-card__title, .info-card__desc {
            color: v.$color_white;
        }
    }

    @media (max-width: v.$media_sm) {
        height: 200px;
    }
}