@use 'variables' as v;
@use 'mixins' as m;

.experience__section {
    padding: 128px 0;

    .experience {
        margin: 0 auto;
        text-align: center;
        @include m.d-flex(start, center, nowrap, column, 0, 80px);

        &__title {
            @include m.font(56px, 700, v.$color_white);
        }

        &__cards-wrapper {
            width: 100%;
            padding: 0 32px;
            @include m.d-flex(center, center, nowrap, row, 32px, 32px);
        }

        @media (max-width: v.$media_xl) {
            &__cards-wrapper {
                @include m.d-flex(center, center, wrap, row, 32px, 32px);
            }
        }

        @media (max-width: v.$media_lg) {
            @include m.d-flex(start, center, nowrap, column, 0, 72px);

            &__title {
                @include m.font(48px, 700, v.$color_white);
            }
        }

        @media (max-width: v.$media_md) {
            @include m.d-flex(start, center, nowrap, column, 0, 56px);

            &__title {
                @include m.font(40px, 700, v.$color_white);
            }
        }

        @media (max-width: v.$media_sm) {
            @include m.d-flex(start, center, nowrap, column, 0, 40px);

            &__title {
                @include m.font(32px, 700, v.$color_white);
            }
        }
    }
}