@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.footer__section {
    padding: 56px 0;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.1);

    .footer {
        width: 100%;
        margin: 0 auto;
        padding: 0 32px;
        @include m.d-flex(space-between, start, nowrap, row, 24px, 0);

        &__terms {
            @include m.d-flex(start, start, nowrap, column, 0, 16px);

            &-links {
                @include m.d-flex(start, start, nowrap, row, 24px, 0);
                @include m.font(20px, 400, v.$color_white);
            }
            &-link {
                @extend %hover-black;
            }

            &-rights {
                @include m.font(14px, 400, v.$color_white);
            }
        }

        &__socials {
            height: 100%;
            @include m.d-flex(center, end, nowrap, row, 24px, 0);

            &-icon {
                width: 25px;
                height: 24px;
                fill: v.$color_white;

                &:hover {
                    cursor: pointer;
                    fill: v.$color_black;
                }
            }
        }

        @media (max-width: v.$media_sm) {
            @include m.d-flex(start, center, nowrap, column-reverse, 0, 16px);
            
            .footer__terms-rights {
                width: 100%;
                text-align: center;
            }
        }
    }
}