@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.header {
    width: 100%;
    height: 52px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
    border: {
        bottom: {
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }

    .nav {
        height: 52px;
        @include m.d-flex(start, center);

        &__title {
            height: 100%;
            padding: 0 min(96px, 4vw);
            border: {
                right: {
                    width: 1px;
                    style: solid;
                    color: v.$color_white;
                }
            }

            @include m.d-flex(center, center);

            &-link {
                font-size: 24px;
                font-weight: 500;
                color: v.$color_white;

                span {
                    font-weight: 700;
                }

                @extend %hover-black;
            }
        }

        &__links {
            flex-grow: 1;

            .list {
                @include m.d-flex(start, center, nowrap, row, min(96px, 4vw), 0);
                padding: 0 0 0 min(96px, 4vw);

                &__item {
                    &-link {
                        font-size: 16px;
                        font-weight: 500;
                        color: v.$color_white;

                        @extend %hover-black;
                    }
                }
            }
        }

        .covid {
            height: 100%;
            @include m.d-flex(center, center);
            padding: 0 32px;
            border: {
                left: 1px solid v.$color_white;
                right: 1px solid v.$color_white;
            }

            &__link {
                font-size: 16px;
                font-weight: 500;
                color: v.$color_white;

                @extend %hover-black;
            }
        }

        .globe {
            @include m.d-flex(center, center);
            padding: 0 32px;

            &__link {
                &-icon {
                    width: 27px;
                    height: 28px;
                    fill: v.$color_white;

                    @extend %hover-black-icon;
                }
            }
        }
    }
}