@use 'variables' as v;
@use 'sass:color';

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-white {
    &:hover {
        cursor: pointer;
        color: v.$color_white;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        fill: v.$color_black;
    }
}

%slider-button {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 16px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
}

%slider-button-icon {
    width: 36px;
    height: 23px;
    fill: v.$color_white;
}