@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%hover-white {
    &:hover {
        cursor: pointer;
        color: v.$color_white;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        fill: v.$color_black;
    }
}

%slider-button {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 16px;
    background-color: color.adjust(v.$color_white, $alpha: -0.90);
}

%slider-button-icon {
    width: 36px;
    height: 23px;
    fill: v.$color_white;
}

%cloud-bg {
    width: 700px;
    height: 252px;
    background: url('../assets/images/cloud_alpha.webp') center/contain no-repeat;
}

%input-template {
    width: 100%;
    padding: 12px 16px;
    border-radius: 99px;
    border: 1px solid v.$color_gray;
    @include m.font(16px, 500, v.$color_black);

    &::placeholder {
        @include m.font(16px, 500, v.$color_gray);
    }
}