@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.work__section {
    padding: 32px 32px 96px 32px;

    .work {
        margin: 0 auto;
        text-align: center;

        &__title {
            margin: 0 0 80px 0;
            @include m.font(56px, 700, v.$color_white);
        }

        &__cards-wrapper {
            margin: 0 auto;
            max-width: 900px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 40px;
            column-gap: 40px;
            grid-template-areas:
            "analysis design development"
            "maintenance testing integration";

            .card--analysis {
                grid-area: analysis;
            }

            .card--design {
                grid-area: design;
            }

            .card--development {
                grid-area: development;
            }

            .card--maintenance {
                grid-area: maintenance;
            }

            .card--testing {
                grid-area: testing;
            }

            .card--integration {
                grid-area: integration;
            }

            .icon--analysis {
                width: 28px;
                height: 41px;
            }

            .icon--design {
                width: 48px;
                height: 39px;
            }

            .icon--development {
                width: 51px;
                height: 32px;
            }

            .icon--maintenance {
                width: 43px;
                height: 41px;
            }

            .icon--testing {
                width: 44px;
                height: 42px;
            }

            .icon--integration {
                width: 42px;
                height: 36px;
            }

            @media (max-width: v.$media_lg) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                row-gap: 24px;
                column-gap: 24px;
                grid-template-areas:
                "analysis design"
                "development maintenance"
                "testing integration";
            }

            @media (max-width: v.$media_sm) {
                @include m.d-flex(start, start, nowrap, column, 0, 24px);
            }
        }

        @media (max-width: v.$media_lg) {
            &__title {
                margin: 0 0 72px 0;
                @include m.font(48px, 700, v.$color_white);
            }
        }

        @media (max-width: v.$media_md) {
            &__title {
                margin: 0 0 56px 0;
                @include m.font(40px, 700, v.$color_white);
            }
        }

        @media (max-width: v.$media_sm) {
            &__title {
                margin: 0 0 40px 0;
                @include m.font(32px, 700, v.$color_white);
            }
        }
    }
}